*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,
    "Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC",
    "Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC",
    "WenQuanYi Micro Hei",SimSun,sans-serif;
    height: 100%;
}
.box a{
    text-align: center;
    font-size: 25px;
}