.testinfo a{
    margin-left: 35px;
    margin-right: 35px;
}
.shield{
    top: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 10;
}
.yz{
    z-index: 10;
    padding-top: 30px;
    background-size: 100% 100%;
    position: fixed;
    width: 450px;
    height: 150px;
    top: 35%;
    color: rgba(237, 125, 49, 1);
    font-size: 30px;
    font-weight: bolder;
    left: 35%;
    text-align: center;
    opacity: 1;
}
#Filedemo{
    margin-right: auto;
    height: 18px;
    margin-left: auto;
}
.testinfo table{
    margin: 0;
    padding: 0;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}