<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <!--1.告诉spring的核心配置文件叫什么名字-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:mapper/applicationContext.xml</param-value>
  </context-param>
  <!--2.我给你一个监听器 监听器用来使用上面的配置，加载配置文件-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--配置中文乱码过滤器-->
  <filter>
    <filter-name>charactorEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charactorEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>jsp/welcome.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SignFiter</web-resource-name>
      <url-pattern></url-pattern>
    </web-resource-collection>
  </security-constraint>
</web-app>
